.themed-grid-col {
  -webkit-padding-before: .75rem;
  padding-block-start: .75rem;
  -webkit-padding-after: .75rem;
  padding-block-end: .75rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}

.themed-container {
  padding: .75rem;
  -webkit-margin-after: 1.5rem;
  margin-block-end: 1.5rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}
